.course-input
  label(for="course-name") Name
  input(type="text", name="name", id="course-name", value=course.name)
.course-input
  label(for="course-price") Price
  input(type="text", name="price", id="course-price", value=course.price)
.course-input
  | Learners
  label(for="course-min-learners") min
  input(type="text", name="min-learners", id="course-min-learners", value=course['min-learners'])
  label(for="course-max-learners") max
  input(type="text", name="max-learners", id="course-max-learners", value=course['max-learners'])
.course-input
  label(for="course-decision-date") Decision date
  input(type="text", name="decision-date", id="course-decision-date", value=course['decision-date'])
.course-input
  label(for="course-start-date") Start date
  input(type="text", name="start-date", id="course-start-date", value=course['start-date'])
.course-input
  label(for="course-end-date") End date
  input(type="text", name="end-date", id="course-end-date", value=course['end-date'])
.course-input
  label(for="course-location") Location
  input(type="text", name="location", id="course-location", value=course.location)
.course-input
  label(for="course-summary") Summary
  textarea(name="summary", id="course-summary", rows="3", cols="30")= course.summary
.course-input
  label(for="course-description") Description
  textarea(name="description", id="course-description", rows="6", cols="30")= course.description
input(type="submit") Submit
