h1.course-name= course.name

h2.course-summary= course.summary

- if (course.purchasableBy(user, learners))
  p.purchase $
    = course.price
    form(action="/learning/#{course.permalink}", id="participation-form", method="POST")
      input(type='submit', value='Learn!')
- else if (course.purchasedBy(user, learners))
  p.already-purchased You've already bought this!
- else
  p.no-purchase No longer available

  p.learners-to-go
      = course.learnersNeeded(learners)
      | 
      | more learners needed!

  p.learners-seats-available
      = course.learnersSeatsAvailable(learners)
      | 
      | more learners can still join in!
      
  p.time-left
    | Time left to join in Days (aprox.)
    = parseInt(course.timeToJoin() / 86400000);

p.course-description= course.description

- if (learners.length > 0)
  h3.learners-participating Learners
  ul
    - learners.forEach(function(learner) {
      li
       learner-name= learner.name
    - })
  
- if (course.inFlight(learners))
  h3.awards-call-to-action
    | Are you a member of this course?
    a(href="/courses/#{course.permalink}/awards/new").award Reward your most helpful coursemates!
