!!! 5
//if lt IE 7
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title iPull #{title} : working to decentralize and enrich the learning process
    //-meta(name="description", content=description)
    //-meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/960.css')
    script(src='/js/libs/modernizr-2.0.6.min.js')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body
    #container.container_16
      #logo.grid_3
        img(src="/img/ipullLogo.png");
      nav#main-nav.grid_6
        ul
          li
            a(href='/courses') courses
          li
            a(href='/#') News
          li
            a(href='/#') Help
      nav#user-nav.grid_7
        ul
          - if (everyauth.loggedIn)
            li
            | Hi #{user.name}, 
            li
              a(href='/profile/new') profile |
            li
              a(href='/logout') Logout
          - else
            p You are not logged in
            a(href='/').login-link Log In
            div.clear
      section#content.grid_16!= body

      div.clear
      footer.grid_16
        a(href='https://github.com/redsquirrel/ipull/blob/master/Readme.markdown')
          | Learn more about this project
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
      script
        window.jQuery ||  document.write('<script src="js/libs/jquery-1.6.3.min.js"><\\/script>')
      script(src='/js/plugins.js')
      script(src='/js/script.js')
      //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
      script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
